.App{
   overflow-x: hidden;
   background-color: #fff;
   overflow-y: hidden !important;
    height: auto;background-color: #fff;
    padding-bottom: 20vh;
}

.mainSection{
    margin-top: -5px;
    height: 100%;
    /* box-sizing: border-box; */
    position: relative;
    top: 20vh;
}